<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Create Pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Enter Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Breed</ion-label>
    <ion-input [(ngModel)]="data.breed" placeholder="Enter Breed"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>BirthDate</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>

</ion-content>
