<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>List All Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Breed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of petsData">
      <td>{{ item.name }}</td>
      <td>{{ item.birthdate }}</td>
      <td>{{ item.breed }}</td>
      <td style="display: flex">
        <ion-button color="warning" size="small" routerLink='/pet-edit/{{item.name}}'>
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </td>
    </tr>
    </tbody>
  </table>
  <ion-button [routerLink]="['/pet-create']">
    Add Pet
  </ion-button>
</ion-content>
